# Maven
target/
*.class
*.jar
*.war

# IDE
.idea/
*.iml
.vscode/
*.classpath
*.project
.settings/

# SQLite
*.db
*.db-shm
*.db-wal

# OS
.DS_Store
Thumbs.db
*:Zone.Identifier
*:Zone.Identifier
repomix-output*.txt
salidaTree*.txt
